body {
	background-color: darkSeagreen;	
}

#mainBody {
}


#left { 
	width: 30%;
	border: 3px solid;
	float: left;
	height: 100%;
}

#middle {
	width: 100%;
	border: 3px solid;
	height: 100%;
}

#autoAddButton1, #multiplierButton1, #incrementButton1, #autoAddButton2, #multiplierButton2, #incrementButton2 {
	width: 100%;
	height: 10%
}

#output {
	margin-top: 100px;
	margin-left: 1100px;
}
#printMoneyButton {
	width: 50%;
	height: 20%;
	margin-top: 250px;
	margin-left: 200px;
}

#subbar {
	position: fixed;
	left: 15;
	bottom: 50;
	padding-top: 250px;
}



#subBarDiv {
	position: fixed;
	bottom: 0;
	z-index: 3;
}

#levelbar {
	position: fixed;
	bottom: 0;
	
}

#header {
	display: block;
}

.aboutImages {
	width: 200px;
	height: 200px
}

.historyImages {
	width: 200px;
	height: 200px
}